
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }
b{
  color: brown;
}
.row.m0 {
  margin: 0px; }

body {
  line-height: 26px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }



.p_120 {
  padding-top: 30px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 70px; }

.pad_btm {
  padding-bottom: 120px; }

.mt-25 {
  margin-top: 25px; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }
.white_bg {
  background: #fff !important; }

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 75px; }
  .main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px;
    max-width: 570px;
    margin: auto; }
  .main_title.white h2 {
    color: #fff; }
  .main_title.white p {
    color: #fff;
    opacity: .6; }


/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  margin-top: 30px;
  z-index: 1;
  background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%; }
    .home_banner_area .banner_inner .home_left_img {
      padding-top: 30px; }
    .home_banner_area .banner_inner .col-lg-6 {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left;
      color: #222222; }
      .home_banner_area .banner_inner .banner_content h5 {
        font-size: 14px;
        margin-top: 30px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 48px;
        font-weight: bold;
        font-family: "Heebo", sans-serif;
        line-height: 54px;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content p {
        color: #777777;
        font-family: "Roboto", sans-serif;
        max-width: 880px;
        font-size: 14px;
        line-height: 26px;
        margin: 0px auto 15px; }
      .home_banner_area .banner_inner .banner_content .banner_map_img {
        text-align: right; }

.blog_banner {
  min-height: 780px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff;
      margin-top: 40px; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        line-height: 66px;
        margin-bottom: 15px; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 430px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 430px;
    background: #f9f9ff;
    z-index: 1; }
    .banner_area .banner_inner .banner_content {
      margin-top: 70px; }
      .banner_area .banner_inner .banner_content h2 {
        color: #222222;
        font-size: 36px;
        font-family: "Heebo", sans-serif;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-weight: bold; }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 14px;
        color: #777777;
        font-family: "Roboto", sans-serif;
        margin-right: 32px;
        position: relative; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "\e87a";
          font-family: 'Linearicons-Free';
          font-size: 14px;
          position: absolute;
          right: -25px;
          top: 54%;
          transform: translateY(-50%); }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }




/* Welcome Area css
============================================================================================ */
.welcome_inner .welcome_img {
  background: #eeeeee;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }
  .welcome_inner .welcome_img img {
    margin-top: -30px; }

.welcome_text {
  margin-top: 45px; }
  .welcome_text h4 {
    color: #222222;
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    margin-bottom: 18px;
    text-transform: uppercase; }
  .welcome_text p {
    max-width: 495px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 40px; }

.wel_item {
  border: 1px solid #eeeeee;
  padding: 30px 25px;
  border-radius: 5px; }
  .wel_item i {
    font-size: 24px;
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .wel_item h4 {
    font-size: 24px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 10px; }
  .wel_item p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 0px; }

.tools_expert {
  box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
  padding: 50px 35px; }
  .tools_expert h3 {
    color: #222222;
    font-size: 21px;
    text-transform: uppercase; }
  .tools_expert .skill_main .skill_item {
    margin-bottom: 18px; }
    .tools_expert .skill_main .skill_item:last-child {
      margin-bottom: 0px; }
    .tools_expert .skill_main .skill_item h4 {
      text-align: right;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777;
      margin-bottom: 15px; }
    .tools_expert .skill_main .skill_item .progress {
      height: 20px;
      border-radius: 10px;
      background: transparent;
      border: 1px solid #eeeeee;
      padding-left: 5px;
      padding-right: 5px;
      box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.2); }
      .tools_expert .skill_main .skill_item .progress .progress-bar {
        width: 0%;
        transition: width .6s ease;
        height: 10px;
        border-radius: 5px;
        vertical-align: middle;
        align-self: center;
        background-image: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        background-image: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        background-image: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); }


/* Projects Area css
============================================================================================ */
.projects_fillter .filter {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  .projects_fillter .filter li {
    display: inline-block;
    margin-right: 30px; }
    .projects_fillter .filter li a {
      font-size: 13px;
      font-family: "Roboto", sans-serif;
      color: #777777; }
    .projects_fillter .filter li:last-child {
      margin-right: 0px; }
    .projects_fillter .filter li.active a {
      color: #8490ff; }

.projects_inner {
  margin-bottom: -30px; }

.projects_item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px; }
  .projects_item:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease; }
  .projects_item .projects_text {
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    .projects_item .projects_text h4 {
      font-size: 21px;
      font-family: "Heebo", sans-serif;
      font-weight: bold;
      color: #222222;
      margin-bottom: 5px;
      transition: all 300ms linear 0s;
      text-transform: uppercase;
      cursor: pointer; }
    .projects_item .projects_text p {
      margin-bottom: 0px;
      font-size: 14px; }
  .projects_item:hover:before {
    opacity: 1; }
  .projects_item:hover .projects_text h4 {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }



/* Testimonials Area css
============================================================================================ */
.testimonials_area {
  background: #f9f9ff; }
  .testimonials_area.testi_two {
    background: #fff; }
    .testimonials_area.testi_two .testi_inner {
      margin-top: -20px;
      margin-bottom: -20px; }
    .testimonials_area.testi_two .owl-item {
      padding: 20px 0px; }
    .testimonials_area.testi_two .testi_item {
      background: #f9f9ff;
      border-color: #f9f9ff;
      transition: all 300ms linear 0s; }
      .testimonials_area.testi_two .testi_item:hover {
        background: #fff;
        border-color: #fff;
        box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); }

.testi_inner .col-lg-3 {
  vertical-align: middle;
  align-self: center; }

.test_title h2 {
  color: #222222;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 12px; }
.test_title p {
  margin-bottom: 0px; }

.testi_item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background: #fff;
  padding: 40px 28px; }
  .testi_item p {
    font-style: italic; }
  .testi_item h4 {
    color: #222222;
    font-size: 17px;
     }
  .testi_item a {
    color: #ffc000; }
